---
import poster from "../images/vlcsnap-00002.jpg";
---

<div id="video-bg">
  <video autoplay loop muted playsinline poster={poster.src}>
    <source src="video_bg_small.mp4" type="video/mp4" />
  </video>
  <div class="mask --horizontal">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1920"
      height="1080"
      viewBox="0 0 508 285.75"
      preserveAspectRatio="xMinYMin slice"
      ><path
        d="M-95.25-42.334v402.168h666.749V-42.334zM332.573-20.23c9.106 0 17.916.664 26.435 1.992s15.566 3.099 21.148 5.312v48.251h-.441L343.148-8.278h-.22c-1.909-.59-3.746-.959-5.508-1.106h-3.525a26.6 26.6 0 0 0-3.305.221c-3.523.148-7.047.664-10.572 1.549-3.525.738-6.756 1.992-9.691 3.763-2.791 1.623-5.067 3.763-6.83 6.419s-2.644 5.976-2.644 9.96c0 3.394.661 6.345 1.983 8.853 1.469 2.508 3.378 4.87 5.728 7.083 2.494 2.066 5.358 3.984 8.59 5.755 3.231 1.623 6.683 3.172 10.354 4.648l19.385 7.969c7.194 2.656 13.877 5.976 20.046 9.96s11.307 8.927 15.419 14.83c4.259 5.755 6.387 12.912 6.387 21.47 0 9.296-2.421 16.969-7.268 23.019-4.7 6.05-10.722 10.92-18.063 14.608-7.072 3.48-14.86 5.878-23.349 7.221 6.372.272 12.649.759 18.723 1.706 8.519 1.328 15.566 3.098 21.148 5.312v48.251h-.441l-36.567-43.603h-.221c-1.909-.59-3.745-.959-5.508-1.107h-3.525a26.6 26.6 0 0 0-3.305.221c-3.523.148-7.047.664-10.572 1.55-3.525.738-6.756 1.992-9.691 3.763-2.791 1.623-5.067 3.763-6.83 6.419s-2.644 5.976-2.644 9.96c0 3.394.661 6.345 1.983 8.854 1.469 2.508 3.378 4.869 5.728 7.082 2.494 2.066 5.358 3.984 8.59 5.755 3.231 1.623 6.683 3.172 10.355 4.648l19.385 7.969c7.194 2.656 13.877 5.976 20.046 9.96s11.307 8.927 15.42 14.83c4.259 5.755 6.387 12.911 6.387 21.47 0 9.296-2.421 16.969-7.268 23.019-4.7 6.05-10.722 10.92-18.063 14.608-7.197 3.541-15.126 5.976-23.791 7.305-8.666 1.475-16.814 2.14-24.452 1.992-3.525 0-7.562-.296-12.115-.886-4.406-.443-9.033-1.107-13.877-1.992a162.33 162.33 0 0 1-14.1-3.32c-4.698-1.475-9.104-3.173-13.216-5.091v-44.267l39.431 42.275c2.791.443 6.242.812 10.352 1.107 4.259.148 8.298 0 12.117-.442 3.525-.443 6.901-1.107 10.132-1.992 3.231-1.033 6.095-2.435 8.592-4.205s4.48-3.91 5.948-6.419 2.2-5.533 2.2-9.075c0-5.312-1.54-9.739-4.624-13.28-2.937-3.541-6.61-6.566-11.016-9.075-4.259-2.508-8.81-4.648-13.657-6.419-4.847-1.918-9.107-3.836-12.776-5.755a239.78 239.78 0 0 1-16.523-7.747c-5.432-2.804-10.279-5.976-14.538-9.517-4.259-3.689-7.709-7.969-10.352-12.838-2.497-4.869-3.745-10.624-3.745-17.264 0-7.23 1.616-13.575 4.847-19.035 3.378-5.607 8.075-10.255 14.097-13.944 6.169-3.689 13.437-6.418 21.808-8.189 1.442-.325 2.95-.582 4.446-.852-1.706-.143-3.445-.305-5.328-.549-4.406-.443-9.033-1.107-13.877-1.992-4.7-.885-9.4-1.992-14.1-3.32-4.698-1.475-9.104-3.172-13.216-5.091V84.462l39.431 42.275c2.791.443 6.242.812 10.352 1.107 4.259.148 8.298 0 12.117-.442 3.525-.443 6.9-1.107 10.132-1.992 3.231-1.033 6.095-2.435 8.592-4.205s4.48-3.91 5.948-6.419 2.2-5.533 2.2-9.075c0-5.312-1.54-9.739-4.624-13.28-2.937-3.541-6.609-6.566-11.015-9.075-4.259-2.508-8.81-4.648-13.657-6.419-4.847-1.918-9.106-3.836-12.775-5.755-5.581-2.361-11.089-4.943-16.524-7.747s-10.279-5.976-14.538-9.518c-4.259-3.689-7.709-7.968-10.352-12.837-2.497-4.869-3.745-10.624-3.745-17.264 0-7.23 1.615-13.575 4.847-19.035 3.378-5.607 8.075-10.255 14.097-13.944 6.169-3.689 13.437-6.418 21.808-8.189 8.516-1.918 17.99-2.877 28.415-2.877zm133.333 0c9.104 0 17.916.664 26.435 1.992s15.566 3.099 21.145 5.312v48.251h-.441L476.478-8.278h-.221c-1.909-.59-3.743-.959-5.505-1.106h-3.525a26.6 26.6 0 0 0-3.305.221c-3.525.148-7.05.664-10.572 1.549-3.525.738-6.756 1.992-9.694 3.763-2.791 1.623-5.067 3.763-6.83 6.419s-2.641 5.976-2.641 9.96c0 3.394.661 6.345 1.983 8.853 1.466 2.508 3.376 4.87 5.726 7.083 2.497 2.066 5.36 3.984 8.592 5.755 3.231 1.623 6.68 3.172 10.352 4.648l19.385 7.969c7.197 2.656 13.878 5.976 20.046 9.96s11.309 8.927 15.419 14.83c4.259 5.755 6.389 12.912 6.389 21.47 0 9.296-2.424 16.969-7.27 23.019-4.698 6.05-10.72 10.92-18.063 14.608-7.07 3.48-14.859 5.878-23.347 7.221 6.372.272 12.649.759 18.723 1.706 8.516 1.328 15.566 3.098 21.145 5.312v48.251h-.44l-36.567-43.603h-.22c-1.909-.59-3.743-.959-5.505-1.107h-3.525a26.6 26.6 0 0 0-3.305.221c-3.525.148-7.05.664-10.572 1.55-3.525.738-6.756 1.992-9.693 3.763-2.791 1.623-5.067 3.763-6.83 6.419s-2.642 5.976-2.642 9.96c0 3.394.661 6.345 1.983 8.854 1.466 2.508 3.376 4.869 5.726 7.082 2.497 2.066 5.361 3.984 8.592 5.755 3.231 1.623 6.68 3.172 10.352 4.648l19.385 7.969c7.197 2.656 13.877 5.976 20.046 9.96s11.31 8.927 15.42 14.83c4.259 5.755 6.389 12.911 6.389 21.47 0 9.296-2.424 16.969-7.27 23.019-4.698 6.05-10.719 10.92-18.063 14.608-7.194 3.541-15.126 5.976-23.789 7.305-8.666 1.475-16.817 2.14-24.452 1.992-3.525 0-7.564-.296-12.114-.886-4.406-.443-9.033-1.107-13.88-1.992-4.7-.885-9.397-1.992-14.097-3.32-4.7-1.475-9.106-3.173-13.216-5.091v-44.267l39.431 42.275c2.788.443 6.24.812 10.352 1.107 4.259.148 8.298 0 12.114-.442 3.525-.443 6.903-1.107 10.134-1.992 3.231-1.033 6.096-2.435 8.59-4.205s4.479-3.91 5.948-6.419 2.203-5.533 2.203-9.075c0-5.312-1.542-9.739-4.627-13.28-2.938-3.541-6.607-6.566-11.013-9.075-4.259-2.508-8.813-4.648-13.657-6.419-4.847-1.918-9.106-3.836-12.778-5.755a239.73 239.73 0 0 1-16.521-7.747c-5.434-2.804-10.279-5.976-14.538-9.517-4.259-3.689-7.711-7.969-10.354-12.838-2.494-4.869-3.743-10.624-3.743-17.264 0-7.23 1.615-13.575 4.844-19.035 3.378-5.607 8.079-10.255 14.1-13.944 6.166-3.689 13.436-6.418 21.806-8.189 1.442-.325 2.951-.583 4.447-.853-1.706-.143-3.445-.305-5.326-.549-4.406-.443-9.033-1.107-13.88-1.992a162.27 162.27 0 0 1-14.097-3.32c-4.7-1.475-9.106-3.172-13.216-5.091V84.462l39.431 42.275c2.788.443 6.24.812 10.352 1.107 4.259.148 8.299 0 12.115-.442 3.525-.443 6.903-1.107 10.134-1.992 3.231-1.033 6.095-2.435 8.59-4.205s4.48-3.91 5.948-6.419 2.203-5.533 2.203-9.075c0-5.312-1.542-9.739-4.627-13.28-2.937-3.541-6.607-6.566-11.013-9.075-4.259-2.508-8.812-4.648-13.657-6.419-4.847-1.918-9.106-3.836-12.778-5.755a239.74 239.74 0 0 1-16.521-7.747c-5.434-2.804-10.279-5.976-14.538-9.518-4.259-3.689-7.711-7.968-10.355-12.837-2.494-4.869-3.743-10.624-3.743-17.264 0-7.23 1.616-13.575 4.845-19.035 3.378-5.607 8.078-10.255 14.1-13.944 6.166-3.689 13.436-6.418 21.806-8.189 8.519-1.918 17.99-2.877 28.418-2.877zm-484.312 2.877h72.253L36.444 4.338v122.178h34.805l34.584-39.841v50.908H-16.424l15.2-22.576-.22-110.669zm176.12 0h48.021l42.515 130.81 14.097 24.126h-63.22l10.133-22.576-10.574-33.422h-49.564l-9.031 23.904 17.402 32.094h-51.546l22.689-33.422L167.846.575zm17.402 29.438l-21.808 58.433h41.854l-19.826-58.433zM-18.627 140.534h72.253l-17.402 21.691v122.178h34.805l34.584-39.841v50.908H-16.644l15.199-22.576-.22-110.668zm176.12 0h48.022l42.515 130.81 14.097 24.126h-63.22l10.133-22.576-10.574-33.422h-49.564l-9.031 23.905 17.403 32.094h-51.546l22.689-33.422 39.21-103.586zm17.403 29.438l-21.808 58.433h41.854l-19.826-58.433z"
        fill="#C6C9CE"></path></svg
    >
  </div>

  <div class="mask --portrait">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="390"
      height="844"
      fill="none"

      viewBox="0 0 390 844"
      ><path
        d="M-96.784-480.505v1621.01h563.176v-1621.01zm490.527 55.209v205.639l-61.455-49.529H-13.864v99.059l112.875 98.43H-45.218v-347.955l63.963 43.26 313.543-.627zM-45.218-71.374L49.472-6.798l293.477 111.596 50.795-28.84v136.676l-370.609 121-68.352 40.123V193.825l63.963 28.84 94.689-30.094V51.506L45.71 25.803-45.218 75.331zM144.788 63.419V182.54l165.553-56.426v-.627zM-20.136 372.378h125.418L-14.491 484.6c-1.255 7.942-2.299 17.767-3.135 29.465-.418 12.123 0 23.618 1.254 34.486 1.255 10.032 3.134 19.64 5.643 28.836 2.927 9.196 6.899 17.349 11.916 24.455s11.079 12.75 18.186 16.93c7.107 4.173 15.677 6.262 25.711 6.262 15.05 0 27.591-4.382 37.625-13.16 10.033-8.36 18.602-18.811 25.709-31.352 7.107-12.123 13.171-25.074 18.188-38.869 5.435-13.795 10.868-25.916 16.303-36.359 6.689-15.885 14.006-31.561 21.949-47.027 7.943-15.46 16.931-29.254 26.965-41.377 10.451-12.123 22.575-21.939 36.371-29.463 13.796-7.106 30.1-10.66 48.912-10.66 20.485 0 38.462 4.599 53.93 13.795 15.886 9.614 29.054 22.984 39.506 40.123 10.451 17.557 18.186 38.241 23.203 62.068 5.435 24.238 8.152 51.201 8.152 80.873 0 25.917-1.882 50.991-5.645 75.236s-8.778 44.303-15.049 60.188H244.497v-1.254l123.535-104.072v-.627c1.672-5.434 2.719-10.66 3.137-15.676v-10.033c0-2.926-.211-6.062-.629-9.406-.418-10.025-1.88-20.057-4.389-30.09-2.09-10.032-5.644-19.229-10.66-27.582-4.599-7.942-10.661-14.421-18.186-19.437s-16.931-7.525-28.219-7.525c-9.615 0-17.977 1.882-25.084 5.645-7.107 4.18-13.796 9.614-20.066 16.303-5.853 7.099-11.288 15.251-16.305 24.447-4.598 9.196-8.988 19.018-13.168 29.469l-22.576 55.172c-7.525 20.476-16.932 39.496-28.219 57.053-11.288 17.55-25.293 32.18-42.016 43.885-16.304 12.122-36.579 18.178-60.826 18.178-26.338 0-48.079-6.891-65.219-20.686-17.141-13.377-30.936-30.514-41.387-51.408-10.033-20.483-16.932-43.05-20.695-67.713-4.18-24.663-6.061-47.857-5.643-69.594 0-10.032.836-21.52 2.508-34.479 1.254-12.541 3.136-25.708 5.645-39.496 2.508-13.377 5.643-26.754 9.406-40.131 4.18-13.37 8.987-25.909 14.422-37.613zm0 379.477h125.418L-14.491 864.079c-1.255 7.935-2.299 17.758-3.135 29.463-.418 12.123 0 23.619 1.254 34.48 1.255 10.032 3.134 19.647 5.643 28.844 2.927 9.196 6.899 17.348 11.916 24.447 5.016 7.106 11.079 12.749 18.186 16.93s15.677 6.27 25.711 6.27c15.05 0 27.591-4.39 37.625-13.168 10.033-8.36 18.602-18.803 25.709-31.344 7.107-12.122 13.171-25.081 18.188-38.869 5.435-13.795 10.868-25.917 16.303-36.367 6.689-15.885 14.006-31.555 21.949-47.021s16.931-29.254 26.965-41.377c10.451-12.123 22.575-21.944 36.371-29.469 13.796-7.099 30.1-10.652 48.912-10.652 20.485 0 38.462 4.598 53.93 13.787 15.886 9.615 29.054 22.99 39.506 40.129 10.451 17.55 18.186 38.242 23.203 62.063 5.435 24.245 8.152 51.2 8.152 80.879 0 25.91-1.882 50.991-5.645 75.236-3.763 24.238-8.778 44.304-15.049 60.182H244.497v-1.254l123.535-104.072v-.627c1.672-5.434 2.719-10.654 3.137-15.67v-10.031c0-2.926-.211-6.062-.629-9.406-.418-10.033-1.88-20.064-4.389-30.09-2.09-10.032-5.644-19.23-10.66-27.59-4.599-7.942-10.661-14.421-18.186-19.437-7.525-5.009-16.931-7.518-28.219-7.518-9.615 0-17.977 1.88-25.084 5.643-7.107 4.173-13.796 9.609-20.066 16.297-5.853 7.106-11.288 15.257-16.305 24.453-4.598 9.196-8.988 19.014-13.168 29.465l-22.576 55.17c-7.525 20.483-16.932 39.496-28.219 57.053s-25.293 32.189-42.016 43.887c-16.304 12.122-36.579 18.184-60.826 18.184-26.338 0-48.079-6.899-65.219-20.693-17.141-13.37-30.936-30.507-41.387-51.408-10.033-20.476-16.932-43.049-20.695-67.705-4.18-24.663-6.061-47.864-5.643-69.594 0-10.033.836-21.529 2.508-34.48 1.254-12.54 3.136-25.707 5.645-39.502 2.508-13.377 5.643-26.746 9.406-40.123 4.18-13.377 8.987-25.918 14.422-37.615z"
        fill="#e2e3e5"></path></svg
    >
  </div>
</div>
<style lang="scss">
  @media (orientation: portrait) {
    #video-bg {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 0;

      video {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }

      .mask.--horizontal {
        display: none;
      }

      .mask.--portrait {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        z-index: 1;

        > svg {
          top: 0;
          left: 0;
          position: absolute;

          display: block;
          box-sizing: border-box;
          width: 100vw;
          height: auto;
        }
      }
    }
  }
  @media (orientation: landscape) {
    #video-bg {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 0;

      video {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }

      .mask.--horizontal {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        z-index: 1;

        svg {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .mask.--portrait {
        display: none;
      }
    }
  }
</style>
